.card {
    
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.297);
    overflow: hidden;
    padding: 2rem;
    background-color: #fff;
}

.card:hover {
    cursor: pointer;
    border: 5px solid #8b5cf6;
    transition: all 100ms ease-out;
    background-color: #a5b4fc;

}

.card:hover img {
    scale: 1.2;
    transition: all 100ms ease-in;
}

.card img {
    width: 100%;
}