.grid__container {
  margin-top: 4rem;
  padding: 1rem;
}

.grid__container img {
  max-width: 100%;
  object-fit: cover;
}

.gallery__top {
  padding: 1rem;
  background: #fff;
  border-bottom: 1px solid rgba(11, 11, 11, 0.484);
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 10px;
}