
/* variables */
:root {
  --header-height: 72px;
  --white: #fff;
  --dark: #050011;
  --gray: #FAFAFA;
  --tag: #667085;
  --tag-hover: #275DF5;
  --rounded: 8px;
  --rounded-sm: 4px;
  --site-spacing: 1.5rem;
  --site-max-width: 1300px;
  --font: 16px;
  --font-md: 20px;
  --shadow: 0px 4px 8px -2px rgba(16, 24, 40, .1), 0px 2px 4px -2px rgba(16, 24, 40, .06);
  --border: .5px solid rgba(0, 0, 0, .3);
}


/* global resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* styles */

body {
  font-family: 'Lato', sans-serif;
  background: var(--gray);
}

.container {
  max-width: var(--site-max-width);
  margin: 0 auto;
}